.category {
  margin-top: 60px;

  .categories-tree > .list-group {
    border-bottom: 1px solid #e3e3e3;
  }

  .list-group {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;

    &-item {
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
      border-bottom: none;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &-filter {
    margin-bottom: 20px;

    .filter-pos {
      overflow: auto;
      max-height: 90px;
      margin-bottom: 20px;
    }

    .filter-price {
      margin-bottom: 20px;
    }
  }
}